body,
h1,
h2,
h3,
h4,
button,
select {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #24292e;
}

.nav-logo,
.nav-link,
.nav-login,
.nav-sell,
.nav-username {
  color: #ffffff;
  text-decoration: none;
  margin-left: 1rem;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-login:hover,
.nav-sell:hover,
.nav-username:hover {
  color: #9dacff;
}

.action-buttons {
  display: flex;
}
