body,
h1,
h2,
h3,
h4,
button,
select {
  font-family: 'Courier New', monospace;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #755af1;
}

.nav-logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-dropdown {
  border: none;
  padding: 0.5rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

.action-buttons {
  display: flex;
}

.nav-login,
.nav-sell {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}
