.item-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  justify-content: center;
}

.item-box {
  display: flex;
  justify-content: center;
}
